body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  height: fit-content;
  width: 580px;

  img.mobile-banner { display: none; }
  img.desktop-banner {
    width: 50%;
    display: block;
    border-radius: $defaultBorderRadius 0rem 0rem $defaultBorderRadius;
  }

  .productDetails {
    width: 290px;
    box-sizing: border-box;
    padding: 2rem;
  }
}