body{
  background-color: $defaultBackground;
  font-family: $defaultFont;
  font-weight: $regularFontWeight;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

p {
  font-size: $defaultFontSize;
  color: $defaultTextColor;
  margin: 0rem;
}

main {
  border-radius: $defaultBorderRadius;
  background-color: $contentBackground;

  figure {
    margin: 0rem;
    
    img {
      width: 100%;
      height: auto;
      border-radius: $defaultBorderRadius $defaultBorderRadius 0rem 0rem;
    }
  }

  .productDetails {
    padding: 1.5rem;
    p.productCategory { letter-spacing: 3.5px; }
    h1.productName {
      font-family: $headerFont;
      font-weight: $boldFontWeight;
      color: $headerTextColor;
      margin: 1rem 0rem 1rem 0rem;
    }
    .pricing {
      display: flex;
      align-items: center;
      h1.currentPrice {
        font-family: $headerFont;
        font-weight: $boldFontWeight;
        color: $primary;
      }
      p { margin-left: 1.1rem; }
    }

    .addToCart {
      background-color: $primary;
      width: 100%;
      height: 50px;
      border-radius: $defaultBorderRadius;
      border: none;
      color: $contentBackground;
      font-weight: $boldFontWeight;
      display: flex;
      align-items: center;
      justify-content: center;

      img { margin-right: 10px; }
    }
  }  
}