// Primary Colors
$primary: hsl(158, 36%, 37%);
$defaultBackground: hsl(30, 38%, 92%);

// Neutral Colors
$headerTextColor: hsl(212, 21%, 14%);
$defaultTextColor: hsl(228, 12%, 48%);
$contentBackground: hsl(0, 0%, 100%);

// Fonts
$defaultFontSize: 14px;

$defaultFont: 'Montserrat', sans-serif;
$regularFontWeight: 500;
$boldFontWeight: 700;

$headerFont: 'Fraunces', serif;

$defaultBorderRadius: 10px;