// Primary Colors
$primaryDarkCyan: hsl(158, 36%, 37%);
$primaryCream: hsl(30, 38%, 92%);

// Neutral Colors
$neutralVeryDarkBlue: hsl(212, 21%, 14%);
$neutralDarkGrayishBlue: hsl(228, 12%, 48%);
$neutralWhite: hsl(0, 0%, 100%);

// Fonts
$defaultFontSize: 14px;

$defaultFont: 'Montserrat', sans-serif;
$regularFontWeight: 500;
$boldFontWeight: 700;

$headerFont: 'Fraunces', serif;
$headerFontWeight: 700;